/*医生端首页css*/
/*首页轮播图临时设定*/
.home-lun .box img {
    width: 100%;
    height: 200px;
}

/*新增患者数*/
.new-bander-count {
    color: #F9545E;
    font-size: 22px;
}

/*功能按钮组*/
.features-button > .button {
    line-height: 30px;
}

.features-button > a > img {
    width: 72px;
}

/*新闻动态时间*/

/*医疗动态数据*/
.fl {
    float: left;
}

.fr {
    float: right;
}

.activity {
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .1)
}

.activity:last-child {
    border-bottom: none;
}

.activity .header .index {
    border: 1px solid #FF618F;
    border-radius: 30px;
    color: #FF618F;
}

.activity .header, .activity .footer, .init {
    overflow: hidden;
    padding: 10px 0px;
}

.init {
    overflow: visible !important;
    text-overflow: clip !important;
    white-space: normal !important;
}

.activity .footer {
    color: rgba(0, 0, 0, .3);
    font-size: 10px;
}

.activity .footer span {
    margin-right: 10px;
}

/*底部二维码*/
.home-qrcode {
    text-align: center;
}

.home-feature-text, .home-feature-text > div {
    font-size: 13px;
    color: rgba(0, 0, 0, .6);
}
.home img{width: 100%}