.mine-info {
    padding-left: 10px;
}

.mine-info div {
    font-size: 14px;
    padding: 1px 0px;
}

.no-verify {
    padding: 1px;
    margin-left: 4px;
    background-color: rgba(255, 255, 255, .6);
}

.yes-verify {
    padding: 1px;
    margin-left: 4px;
    background-color: #E25B99;
}

.yes-verify-text {
    padding: 1px;
    margin-left: 4px;
    color: #E25B99;
}

.add-info {
    display: flex;
    align-items: center;
}

.add-info > span {
    padding: 10px;
    font-size: 14px;
}

.row + .row{
    margin-top: -5px;
    padding: 15px 0px;
}
.mine_infomy div > a {padding:10px;}
.mine-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.tou-img {
    width: 50px;
    height:50px;
    border-radius: 100%;
}
.mine-info-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.jifen-img {
    width: 20px;
}

.align-center-right > img {
    padding: 5px;
}
.vertical{vertical-align:middle;}
.myicon-mine{position: absolute;top:6%;}
