<ion-view view-title="关于我们-乐柏医" cache-view="false">
  <ion-header-bar class="bar-balanced">
    <a class="button icon ion-chevron-left" href="javascript:history.go(-1)"></a>
    <h1 class="title">关于我们</h1>
  </ion-header-bar>
  <ion-content padding="true">

    <p>乐柏医生版是北京医康世纪科技有限公司研发的线上医生社区，致力于帮助医生管理患者，资助学术会议，增加医生同行交流，帮助提升医生的医术并建立个人品牌。平台通过管理患者，帮助医生建立优质患者群；提供名医精析的经典病例，提升医生的诊疗水平；通过兑换积分帮助医生参与学术会议，领略名家风采；提供前沿资讯，及时了解行业动态；分享诊后心得，增加同行交流。</p>

    <p>北京医康世纪科技有限公司（医康世纪）为乐普（北京）医疗器械股份有限公司和其核心管理团队共同投资的一家移动互联网创业公司，专业从事心血管和糖尿病可穿戴医疗设备的研发、销售和服务，包括移动心电图、便携式手机血糖仪及血糖试纸、移动心脏标志物检测平台及其相应配套试纸，以及建立在此基础上的心血管和糖尿病健康管理服务和增值服务，是乐普医疗为进入移动医疗领域的重要战略布局。</p>

    <p> 本协议是您与本站所有者（医康世纪）之间就本站服务等相关事宜所订立的契约，请您仔细阅读本注册协议，您点击“注册”按钮后，本协议即构成对双方有约束力的法律文件。</p>

    <p> 1.用户点击同意本协议的，即视为用户确认自己具有享受本站服务的权利能力和行为能力，能够独立承担法律责任。
    </p>2.用户应自行诚信向本站提供注册资料，用户同意其提供的注册资料真实、准确、完整、合法有效，用户注册资料如有变动的，应及时更新其注册资料。如果用户提供的注册资料不合法、不真实、不准确、不详尽的，用户需承担因此引起的相应责任及后果，并且本站保留终止用户使用本站各项服务的权利。本站有义务保护用户的个人资料及隐私信息，不得泄露。
    <p>
      3.用户注册成功后，将产生用户名和密码等账户信息，您可以根据本站提示改变您的密码。用户应谨慎合理的保存、使用其用户名和密码。用户若发现任何非法使用用户账号或存在安全漏洞的情况，请立即通知本站客服并向公安机关报案。

    </p>
    <p>
      4.用户不得将在本站注册获得的账户借给他人使用，否则用户应承担由此产生的全部责任，并与实际使用人承担连带责任。
    </p>
    <p>


      5.用户同意，本站有权使用用户的注册信息、用户名、密码等信息，登录进入用户的注册账户，进行证据保全，包括但不限于公证、见证等。
    </p>
    <p>
      6. 不得利用本站的功能从事洗钱、窃取商业秘密、窃取个人信息等违法犯罪活动；
    </p>
    <p>7.不得干扰本站的正常运转，不得侵入本站及国家计算机信息系统；</p>
    <p>8.本站所有医疗信息、图文影像信息、交流、咨询信息等皆不作为诊断结果和医疗的证据，用户只能作为参考，本站不承担用户在使用本平台时可能产生的医疗风险和责任。 </p>
    <p>9.不得传输或发表任何违法犯罪的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、伤害性的、庸俗的、淫秽的、不文明的等信息资料； </p>
    <p> 10.不得发布任何侵犯他人著作权、商标权等知识产权或合法权利的内容；用户应关注并遵守本站不时公布或修改的各类合法规则规定。本站保有删除各类不符合法律政策或不真实的信息内容而无须通知用户的权利。若用户未遵守以上规定的，本站有权作出独立判断并采取暂停或关闭用户帐号等措施。用户须对自己在网上的言论和行为承担法律责任。</p>
    <p> 11.用户发布内容时，即表示该用户许可本站及医康世纪使用、复制、展览、传播、翻译、编辑和创作派生作品，本站尊重用户对原内容的所有权，用户有权在任何时间要求本站在使用中删除原内容。在此过程中，我们承诺始终对用户的个人信息保密。</p>
    <p>12.用户同意并已充分了解本协议的条款，承诺不将已发表于本站的信息，以任何形式发布或授权其它主体以任何方式使用（包括但不限于在各类网站、媒体上使用。</p>
    <p> 13.本站有义务在现有技术上维护平台服务的正常进行，并努力提升技术及改进技术，使软件服务更好进行。</p>
    <p>14.咨询双方因服务引起的纠纷，请本站给予调解的，本站将有权了解相关信息，并将双方 提供的信息与对方沟通。因在本站发生服务纠纷，引起诉讼的，用户通过司法部门或行政部门依照法定程序要求本站提供相关数据，本站应积极配合并提供有关资料。</p>
    <p>15.本站有权对用户的注册数据及电话咨询的行为进行查阅，发现注册数据或咨询行为中存在任何问题或怀疑，均有权向用户发出询问及要求改正的通知或者直接作出删除等处理。</p>
    <p>16.医康世纪除给医生提供本站进行交流服务外，双方还可以协商，利用医康世纪和乐普的资源在建立医生品牌和其他合作机会方面创造价值，树立在领域内的权威性、知名度和美誉度。具体的合作模式可双方另起协议或规则进行约定。</p>
    <p> 17.系统因下列状况无法正常运作，使用户无法使用电话咨询服务时，本站不承担损害赔偿责任，该状况包括但不限于：（1）在网站公告之系统停机维护期间；（2）电信设备出现故障不能进行数据传输的；（3）因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成系统障碍不能执行业务的；（4）由于黑客攻击、电信部门技术调整或故障、银行方面的问题等原因而造成的服务中断或者延迟。。</p>
    <p>18.根据国家法律法规变化及网络运营需要，本站有权对本协议条款不时地进行修改，修改后的协议一旦被张贴在本客户端上即生效，并代替原来的协议。用户可随时登录查阅最新协议；用户有义务不时关注并阅读最新版的协议。</p>
    <p> 19.本协议的订立、执行和解释及争议的解决均应适用在中华人民共和国大陆地区适用之有效法律（但不包括其冲突法规则）。如发生本协议与适用之法律相抵触时，则这些条款将完全按法律规定重新解释，而其它有效条款继续有效。</p>
    <p>20.本站用户和消费者的合法权利，本协议及本客户端上发布的各类规则、声明等其他内容，均是为了更好的、更加便利的为用户和消费者提供服务。本站欢迎用户和社会各界提出意见和建议，我们将虚心接受并适时修改本协议及网站的各类规则。</p>



  </ion-content>
</ion-view>
