<ion-view view-title="添加病史" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">添加病史</h1>

        <div class="buttons">
            <button class="button button-balanced" ng-click="reillhistory()">提交</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <textarea placeholder="这里添加病史" class="textarea-height" ng-model="history.content"></textarea>
            </label>
        </div>
    </ion-content>
</ion-view>