<ion-view view-title="病例精析详情" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">病例精析详情</h1>

        <div class="buttons">
            <div class="ion-ios-star-outline icon-size" ng-click="addCollection()"></div>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">

            <div class="item justify-center-lr">
                <p>{{analysisdetail.hospital}} {{analysisdetail.doctorName}}</p>

                <p>{{analysisdetail.postTime}}</p>
            </div>
            <div class='item item-body'>
                <p  ng-bind-html="analysisdetail.analysis">
                    {{analysisdetail.analysis}}
                </p>

                <div class="bar bar-header item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="text" placeholder="我也说两句吧" required ng-model="detailMsg.acomment">
                    </label>
                    <button class="button button-clear" ng-click="aComment()">
                        发表
                    </button>
                </div>

            </div>
            <div class="item item-avatar" ng-repeat="item in analysisdetail.remarkList">
                <img ng-src="{{item.profileImageUrl}}">

                <div class='commenter'>
                    <span>{{item.name}}</span>
                    <span>{{item.postTime}}</span>
                </div>
                <div class="item-body pad-replate">
                    {{item.content}}
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>