<ion-view view-title="病例精析" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">病例精析</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list analysis">
            <a class="item item-avatar" ui-sref='analysis_detail'>
                <img src="./images/wode.png">

                <div class='analysis-list-title '>
                    <div>
                        <p class='list-head'>金牌医生</p>

                        <p>北京协和医院 张医生</p>
                    </div>
                    <span>35分钟前</span>
                </div>
                <div class="">
                    <img src="./images/zhichi.png">
                </div>
            </a>

            <a class="item item-avatar">
                <img src="./images/wode.png">

                <div class='analysis-list-title'>
                    <div>
                        <p class='list-head'>金牌医生</p>

                        <p>北京协和医院 张医生</p>
                    </div>
                    <span>2016-3-2</span>
                </div>
                <div class="">
                    <p>感冒发烧流鼻涕.</p>
                    <img src="./images/zhichi.png">
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>