<ion-view view-title="病例精析详情-乐柏医" cache-view="false">
    <ion-header-bar class="bar-balanced">
      <a class="button icon ion-chevron-left" href="javascript:history.go(-1)"></a>
        <h1 class="title">病例精析详情</h1>

        <div class="buttons">
            <div class="ion-plus icon-size" ng-click="addCollection()"></div>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">

            <div class="item">
                <p>{{analysisdetail.hospital}} {{analysisdetail.doctorName}}</p>

                <p>{{analysisdetail.postTime}}</p>
                <p>
                <button ng-click='shareWeibo()'>分享到微博</button>
                <button ng-click='shareQzone()'>分享到QQ空间</button>

                </p>
            </div>
            <div class='item home item-text-wrap'>
                <p class="padding"> <img ng-src="{{analysisdetail.illCaseImage}}" alt=""/></p>
                <p  ng-bind-html="analysisdetail.analysis | trustHtml" class="padding">
                    {{analysisdetail.analysis}}
                </p>

                <div class="bar bar-header item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="text" placeholder="我也说两句吧" required ng-model="detailMsg.acomment">
                    </label>
                    <button class="button button-clear" ng-click="aComment()">
                        发表
                    </button>
                </div>

            </div>
            <div class="item item-avatar" ng-repeat="item in analysisdetail.remarkList">
                <img ng-if="item.profileImageUrl" ng-src="{{item.profileImageUrl}}"onerror="this.src='./images/yisheng.png'" />
                <img ng-if="!item.profileImageUrl" src="./images/yisheng.png">

                <div class='commenter'>
                    <span>{{item.name}}</span>
                    <span>{{item.postTime}}</span>
                </div>
                <div class="item-body pad-replate">
                    {{item.content}}
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
