<ion-view view-title="病例精析" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">病例精析</h1>
    </ion-header-bar>
    <ion-content class="backcolormine">
        <div class="list analysis">
            <a class="item item-avatar" ng-repeat="item in analysislist" ui-sref='analysis_detail({id:item.id})'>
                <img src="./images/wode.png">

                <div class='analysis-list-title '>
                    <div>
                        <p class='list-head'>金牌医生</p>

                        <p>{{item.hospital}} {{item.doctorName}}</p>
                    </div>
                    <span>{{item.postTime}}</span>
                </div>
                <div class="home">
                    <p style="color:#444">{{item.title}}</p>
                    <img src={{item.illCaseImage}}>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>