<ion-view view-title="发表心血管圈动态" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">发表心血管圈动态</h1>

        <div class="buttons">
            <button class="button button-balanced">发表</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list card">
            <label class="item item-input">
                <textarea placeholder="这一刻的想法" style='height:300px;'></textarea>
            </label>
            <i class='icon ion-android-camera'></i>
        </div>
    </ion-content>
</ion-view>