<ion-view view-title="添加备注-乐柏医" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <a class="button icon ion-chevron-left" href="javascript:history.go(-1)"></a>
        <h1 class="title">添加备注</h1>

        <div class="buttons">
            <button class="button button-balanced" ng-click="relbeizhu()">提交</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <textarea placeholder="这里添加备注信息" class="textarea-height" ng-model="beizhu.remark"></textarea>
            </label>
        </div>
    </ion-content>
</ion-view>
