<ion-view view-title="修改头像" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">修改头像</h1>

    </ion-header-bar>
    <ion-content has-bouncing="true" class="padding">
        <form id="xinxuegimage" enctype="multipart/form-data" method="post">
            <input id="publishphoto"
                   type="file"
                   accept="image/*"
                   multiple
                   image="publishphoto"
                   class="inputfile myicon"
                    />
            <!--<label for="publishphoto"></label>-->
            <button class="button button-full button-balanced myIcon">选择图片</button>
            <img ng-repeat="img in publishphoto" title="{{img.url}}" ng-src="{{img.url}}" type="{{img.file.type}}"/>
        </form>
        <div class="buttons">
            <button class="button button-balanced" ng-click="xinxuegRelease(publishphoto)">上传</button>
        </div>
    </ion-content>
</ion-view>