<ion-view view-title="修改头像-乐柏医" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <a class="button icon ion-chevron-left" href="javascript:history.go(-1)"></a>
        <h1 class="title">修改头像</h1>

    </ion-header-bar>
    <ion-content has-bouncing="true" class="padding">
        <form id="xinxuegimage" enctype="multipart/form-data" class='home' method="post">
            <input id="publishphoto"
                   type="file"
                   accept="image/*"
                   multiple
                   image="publishphoto"
                   class="inputfile myicon"
                    />
            <!--<label for="publishphoto"></label>-->
            <button class="button button-full button-balanced myIcon">选择图片</button>
        </form>
        <div class="buttons">
            <button class="button button-balanced button-full" ng-click="xinxuegRelease(publishphoto)">上传</button>
        </div>
        <img  ng-repeat="img in publishphoto"  width="100px" height="100px" title="{{img.url}}" ng-src="{{img.url}}" type="{{img.file.type}}"/>
    </ion-content>
</ion-view>
