<ion-view view-title="我的公告" cache-view="false">

    <ion-header-bar class="bar-balanced">
        <h1 class="title">我的公告</h1>

        <div class="buttons">
            <button class="button button-balanced" ui-sref="at_classifieds">添加</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <a class="item item-avatar item-text-wrap">
                <img src="./images/wode.png">

                <div class='news-from justify-end'>
                    <span>3分钟前</span>
                </div>
                <div class='text-indent'>
                    <p>内容简述内容简述内容简述内
                        容简述内容简述...
                        容简述内容简述...
                        容简述内容简述...
                    </p>

                    <div><img src="./images/zhichi.png" alt=""></div>
                </div>
            </a>
            <a class="item item-avatar item-text-wrap">
                <img src="./images/wode.png">

                <div class='news-from justify-end'>
                    <span>3分钟前</span>
                </div>
                <div class='text-indent'>
                    <p>内容简述内容简述内容简述内容简述内容简述...</p>

                    <div><img src="./images/zhichi.png" alt=""></div>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>