<ion-view view-title="患者数据" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">患者数据</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="bar bar-header item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input type="search" placeholder="输入患者名字搜索">
                </label>
            </div>
        </div>
        <div class="list card">
            <div class="item justify-center-lr">
                <p>张美丽</p>

                <p>15011532498</p>
                <button class="button button-small">
                    <span class="accent-text-color">置顶</span>
                </button>
            </div>
            <div class='item item-body'>
                <table>
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                    </tr>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                    </tr>
                    <tr>
                        <td>Jane</td>
                        <td>Doe</td>
                    </tr>
                </table>
            </div>
        </div>
    </ion-content>
</ion-view>