<ion-view view-title="医疗动态详情" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">医疗动态详情</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="item">
                <p>内容简述内容简述内容简述内容简述内容简述</p>

                <p>来源: <span>sina</span></p>
            </div>
            <div class='item item-body '>
                <p class='text-indent'> 通常只有中老年人才会得心脏病
                    通常只有中老年人才会得心脏病
                    通常只有中老年人才会得心脏病
                    通常只有中老年人才会得心脏病
                    通常只有中老年人才会得心脏病
                    通常只有中老年人才会得心脏病
                    通常只有中老年人才会得心脏病
                </p>

                <div>
                    <img src="./images/zhichi.png" alt="">
                </div>
                <div class="bar bar-header item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="text" placeholder="我也说两句吧">
                    </label>
                    <button class="button button-clear">
                        发表
                    </button>
                </div>
                <div class="item item-avatar">
                    <img src="./images/wode.png">

                    <div class='commenter'>
                        <span>张先生</span>
                        <span>2016-2-3 08:08</span>
                    </div>
                    <div class="item-body pad-replate">
                        人生啊，有啥也别有病，看病很贵的。
                        人生啊，有啥也别有病，看病很贵的。
                    </div>
                </div>
                <div class="item item-avatar">
                    <img src="./images/wode.png">

                    <div class='commenter'>
                        <span>张先生</span>
                        <span>2016-1-1 08:08</span>
                    </div>
                    <div class="item-body pad-replate">
                        人生啊，有啥也别有病，看病很贵的。
                        人生啊，有啥也别有病，看病很贵的。
                    </div>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>