<ion-view view-title="意见反馈" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">意见反馈</h1>

        <div class="buttons">
            <button class="button button-balanced">提交</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <textarea placeholder="请留下您的宝贵意见" class="textarea-height"></textarea>
            </label>
        </div>
        <div class='list'>
            <label class="item item-input">
                <input type="text" placeholder="联系方式">
            </label>
        </div>
    </ion-content>
</ion-view>