<ion-view view-title="确定修改" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">确定修改</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="旧密码">
            </label>
            <label class="item item-input">
                    <input type="text" placeholder="新密码">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="确认新密码">
            </label>
            <button class="button button-block button-balanced">
                确定
            </button>
        </div>
    </ion-content>
</ion-view>