<ion-view view-title="我的公告" cache-view="false">

    <ion-header-bar class="bar-balanced">
        <h1 class="title">我的公告</h1>

        <div class="buttons">
            <button class="button button-balanced" ui-sref="gonggao_release">添加</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="item item-avatar item-text-wrap" ng-repeat="item in gonggao">
                <img ng-if="item.profileImageUrl" ng-src="{{item.profileImageUrl}}">
                <img ng-if="!item.profileImageUrl" src="./images/wode.png">

                <div class='news-from justify-end'>
                    <span>{{item.postTime}}</span>
                </div>
                <div class='text-indent '>
                    <p class="padding-top20">
                        {{item.content}}
                    </p>
                    <!--<div><img src="./images/zhichi.png" alt=""></div>-->
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>