<ion-view view-title="我的公告" cache-view="false">

    <ion-header-bar class="bar-balanced">
        <h1 class="title">我的公告</h1>

        <div class="buttons">
            <div class=" ion-compose icon-size " ui-sref="gonggao_release" ></div>
        </div>

    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="item item-avatar item-text-wrap" ng-repeat="item in gonggao">
                <img ng-if="item.imageUrl" ng-src="{{item.imageUrl}}" onerror="this.src='./images/yisheng.png'" />
                <div class='news-from'>
                    <span>{{item.postTime}}</span>
                </div>
                <div class='text-indent'>
                    <p class="padding-top20">
                        {{item.content}}
                    </p>
                    <!--<div><img src="./images/zhichi.png" alt=""></div>-->
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>