<ion-view view-title='{{medicaldetail.title}}' cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">{{medicaldetail.title}}</h1>
        <!-- <a class="button icon ion-chevron-left" go-to-history></a> -->
        <goHistory></goHistory>
          <button class="button ion-navicon icon " ng-click="showAction()"></button>
        <!-- <div class="buttons">
            <div class="ion-plus icon-size on-chevron-right" ng-click="addCollection()"></div>
        </div> -->
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="item item-text-wrap">
                <p>{{medicaldetail.title}}</p>

                <p>
                    <span ng-if="medicaldetail.resource!=''">来源:{{medicaldetail.resource}}</span>

                    <span class="fr">{{medicaldetail.postTime}}</span>
                </p>

                <!-- <p>
                  <button ng-click='shareWeibo()'>分享到微博</button>
                  <button ng-click='shareQzone()'>分享到QQ空间</button>


                </p> -->
            </div>
            <div class='item  item-text-wrap'>
                <!-- <p class="home"><img ng-src="{{medicaldetail.coverImageUrl}}"/></p> -->
                <p class='home padding' ng-bind-html="medicaldetail.content | trustHtml">
                    {{medicaldetail.content}}
                </p>

                <div class="bar bar-header item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="text" placeholder="我也说两句吧" ng-model="markinfo.remak">
                    </label>
                    <button class="button button-clear" ng-click="remark()">
                        发表
                    </button>
                </div>
            </div>
            <div class="item item-avatar" ng-repeat="item in medicaldetail.remarkList">
                <img ng-if="item.profileImageUrl" class="yisheng"  ng-src="{{item.profileImageUrl}}" >

                <img ng-if="!item.profileImageUrl" class="yisheng"  src="./images/yisheng.png">

                <div class='commenter'>
                    <span>{{item.name}}</span>
                    <span>{{item.postTime}}</span>
                </div>
                <div class="item-body pad-replate">
                    {{item.remark}}
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
