<ion-view view-title="医疗动态" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">医疗动态</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <a class="item" ui-sref='medical_detail'>
                <div class="item-thumbnail-right item-text-wrap">
                    <img src="./images/zhichi.png">

                    <h2>医疗动态标题</h2>

                    <p class='text-indent'>内容简述内容简述内容简述内容简述内容简述...</p>
                </div>
                <div class='news-from'>
                    <span>来源: <i>sina</i></span>
                    <span>2015-12-27 08:08</span>
                </div>
            </a>
            <a class="item" href="">
                <div class="item-thumbnail-right item-text-wrap">
                    <img src="./images/zhichi.png">

                    <h2>医疗动态标题</h2>

                    <p>内容简述内容简述内容简述内容简述内容简述...</p>
                </div>
                <div class='news-from'>
                    <span>来源: <i>sina</i></span>
                    <span>2015-12-27 08:08</span>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>