<ion-view view-title="医疗动态" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">医疗动态</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <a class="item" ng-repeat="item in data" ui-sref='medical_detail({id:item.id})'>

                <div class="item-text-wrap">
                    <h2 class="textcolor">{{item.title}}</h2>
                </div>
                <div class="item-thumbnail-right item-text-wrap">
                    <img ng-src="{{item.coverImageUrl}}" style="display:inline;top:30%" width="20%">
                    <div class='text-indent item-text-wrap textent'>{{item.content | limitHtml: 100}}...</div>
                </div>
                <div class='news-from'>
                    <span>来源: <i>{{item.resource}}</i></span>
                    <span>{{item.postTime}}</span>
                </div>

            </a>
        </div>
    </ion-content>
</ion-view>