<ion-view view-title="我的" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">我的</h1>
    </ion-header-bar>
    <ion-content class="backcolormine">
        <div class="list">

            <div class="item pad-replate item-balanced" >
                <div class='row'>
                    <div ng-if="infodata.profileImageUrl" class="col col-20">
                        <img ng-src="{{infodata.profileImageUrl}}" class='mine-image'>
                    </div>
                    <div ng-if='!infodata.profileImageUrl'  class="col col-20">
                        <img src="./images/morentouxiang.png" class='mine-image'>
                    </div>
                    <div class='mine-info col' style="margin-left: 10px" ng-if="accesstoken">
                        <div>
                            <span ng-if="infodata.name">{{infodata.name}}</span>
                            <span ng-if="!infodata.name">未命名</span>
                            <span class='no-verify' ng-if="infodata.verifyed == 0">未认证</span>
                            <span class='yes-verify' ng-if="infodata.verifyed == 1">已认证</span>
                        </div>
                        <!--<div ng-if="!infodata.hospital">未填写</div>-->

                        <div>北京协和医院</div>
                        <div ng-if="infodata.hospital">{{infodata.hospital}}</div>
                        <div>
                            <img src="./images/jifen.png" class='jifen-img' alt="">
                           <span> {{infodata.score}} </span>
                        </div>
                    </div>
                    <div class='mine-info col col-20 button-sign bw ' ng-if="!accesstoken">
                        <button class="button button-icon" ui-sref="sign_in">登陆</button>
                        <button class="button button-icon disabled" style="padding:3px 0px ;">/</button>
                        <button class="button button-icon" ui-sref="sign_up">注册</button>
                    </div>
                </div>
                <div>
                    <div class='add-info fl-div-right' ng-click="letugo()"><span ng-if="accesstoken">补充资料</span><img  src="./images/baise.png" alt=""></div>

                </div>
            </div>

            <div class="list" style="padding:20px 0px 0px 0px;">
                <div ng-click="myQrCode()" class='home-feature-in item'>
                    <div class=' my-span'><img src="./images/wodeerweima.png" alt=""><span class="fl-center-text">我的二维码</span></div>
                    <div class="fl-div-right"><img src="./images/shouyejinrujian.png" alt=""></div>
                </div>
            </div>

        </div>
        <div class="list">

            <div ui-sref='two' class='item  home-feature-in'>
                <div class=' my-span'><img src="./images/xinde.png" alt=""><span  class="fl-center-text">心得笔记</span></div>
                <div class="fl-div-right"><img src="./images/shouyejinrujian.png" alt=""></div>
            </div>
            <div ng-click="myCollection()" class='item  home-feature-in  justify-center-lr'>
                <div class='my-span'><img src="./images/shoucang.png" alt=""><span class="fl-center-text">我的收藏</span></div>
                <div class="fl-div-right"><img src="./images/shouyejinrujian.png" alt=""></div>
            </div>

        </div>
        <div class="list">

            <div ui-sref='setting' class='item  home-feature-in'>
                <div class='my-span'><img src="./images/shezhi.png" alt=""><span class="fl-center-text">设置</span></div>
                <div class="fl-div-right"><img src="./images/shouyejinrujian.png" alt=""></div>
            </div>

            <div class='item  home-feature-in 'ng-click="gofeedBack()">
                <div class='my-span'><img src="./images/yijian.png" alt=""><span class="fl-center-text">意见反馈</span></div>
                <div class="fl-div-right"><img src="./images/shouyejinrujian.png" alt=""></div>
            </div>

        </div>
        <div class="list">

            <div ui-sref="about" class='item  home-feature-in'>
                <div class='my-span'><img src="./images/women.png" alt=""><span class="fl-center-text">关于我们</span></div>
                <div class="fl-div-right"><img src="./images/shouyejinrujian.png" alt=""></div>
            </div>
            <div ui-sref="point_rule" class='item  home-feature-in '>
                <div class='my-span'><img src="./images/guize.png" alt=""><span class="fl-center-text">积分规则</span></div>
                <div class="fl-div-right"><img src="./images/shouyejinrujian.png" alt=""></div>
            </div>
        </div>

    </ion-content>
</ion-view>
