<ion-view view-title="个人资料" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">个人资料</h1>
    </ion-header-bar>
    <ion-content class="backcolormine">
        <div class="mine_infomy">
            <div ui-sref="changeicon" class='card row'>
                <div class='col'><span class="myicon-mine">头像</span></div>
                <div class='col col-25'>
                    <img  ng-if="infodata.profileImageUrl" ng-src="{{infodata.profileImageUrl}}" class='mine-image ' onerror="this.src='./images/yisheng.png'" />
                    <img ng-if="!infodata.profileImageUrl" ng-src="./images/yisheng.png"/>
                </div>
                <div class="col col-10">
                    <img class="myicon-mine " src="./images/shouyejinrujian.png" alt="">
                </div>
            </div>

            <!-- 还未认证-->
            <div ui-sref="doctorverify"  ng-if="infodata.verifyed== 0"  class='card row verify'>
                <div class='col'>医生认证</div>
                <div class=' col col-20'>
                    <span>未认证</span>
                </div>
                <div class="col col-10">
                    <img  src="./images/shouyejinrujian.png" alt="">
                </div>
            </div>
            <!-- 已经认证-->
            <div ng-if="infodata.verifyed == 1" class='card row'>
                <div class='col'>医生认证</div>
                <div class='col col-20 yes-verify-text'>
                    已认证
                </div>

            </div>
            <!-- 认证未通过-->
            <div ui-sref="doctorverify"  ng-if="infodata.verifyed == -1"  class='card row'>
                <div class='col'>医生认证</div>
                <div class=' col col-20 yes-verify-text '>
                    <span>未通过</span>
                </div>
                <div class="col col-10">
                    <img  src="./images/shouyejinrujian.png" alt="">
                </div>
            </div>
            <div class="card bordercar">
                <div class='row' ui-sref="changename">
                    <div class='col col'>姓名</div>
                    <div class='col col-40'>{{infodata.name}}</div>
                    <div class="col col-10"><img src="./images/shouyejinrujian.png" alt=""></div>
                </div>
                <div class='row' ui-sref="changesex">
                    <div class='col'>性别</div>

                    <div class='col col-40'>
                        <span ng-if="infodata.agender == 1">男</span>
                        <span ng-if="infodata.agender == 2">女</span>
                    </div>
                    <div  class="col col-10"><img src="./images/shouyejinrujian.png" alt=""></div>
                </div>

                <div class='row' ui-sref="changebirth">
                    <div class=' col '>出生日期</div>
                    <div class='col col-40'>{{infodata.birthday}}</div>
                    <div class="col col-10"><img src="./images/shouyejinrujian.png" alt=""></div>
                </div>

            </div>

            <div class="card bordercar">
                <div class='row' ui-sref="changeyy">
                    <div class='col'>所在医院</div>
                    <div class='col col-40'>{{infodata.hospital}}</div>
                    <div class="col col-10"><img src="./images/shouyejinrujian.png" alt=""></div>
                </div>
                <div class='row' ui-sref="changezc">
                    <div class='col'>职称</div>
                    <div class='col col-40'>{{infodata.technicalTitle}}</div>
                    <div class="col col-10"><img src="./images/shouyejinrujian.png" alt=""></div>
                </div>
                <div class='row' ui-sref="changeks">
                    <div class='col'>科室</div>
                    <div class='col col-40'>{{infodata.department}}</div>
                    <div class="col col-10"><img src="./images/shouyejinrujian.png" alt=""></div>
                </div>

            </div>

            </div>

    </ion-content>
</ion-view>
