<ion-view view-title="个人资料" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">个人资料</h1>
    </ion-header-bar>
    <ion-content>
        <div>
            <div class="list card mine-info-my">
                <a href="#/changeicon" class='item home-feature-in   mine-info-image  justify-center-lr'>
                    <div class='justify-lr my-span'><span>头像</span></div>
                    <div class='align-center-right'>
                        <img src="./images/wode.png" alt="">
                        <img src="./images/shouyejinrujian.png" alt="">
                    </div>
                </a>
            </div>

            <!-- 还未认证-->
            <div class="list card mine-info-my" ui-sref="doctorverify" ng-if="infodata.verifyed==0">
                <a class='item  home-feature-in  justify-center-lr'>
                    <div class='justify-lr my-span'><span>医生认证</span></div>
                    <div class='align-center-right'>
                        <span>未认证</span>
                        <img  src="./images/shouyejinrujian.png" alt="">
                    </div>
                </a>
            </div>
            <!-- 已经认证-->
            <div class="list card mine-info-my" ng-if="infodata.verifyed==1">
                <a class='item  home-feature-in  justify-center-lr'>
                    <div class='justify-lr my-span'><span>医生认证</span></div>
                    <div class='align-center-right'>
                        <span  class="yes-verify-text">已认证</span>
                    </div>
                </a>
            </div>
            <div class="list card mine-info-my">
                <a class='item  home-feature-in  justify-center-lr' ui-sref="changename">
                    <div class='justify-lr my-span'><span>姓名</span></div>
                    <div class='justify-lr my-span'><span>{{infodata.name}}</span></div>
                    <div><img src="./images/shouyejinrujian.png" alt=""></div>
                </a>
                <a class='item  home-feature-in  justify-center-lr' ui-sref="changesex">
                    <div class='justify-lr my-span'><span>性别</span></div>

                    <div class='justify-lr my-span'>
                        <span ng-if="infodata.agender == 1">男</span>
                        <span ng-if="infodata.agender == 2">女</span>
                    </div>
                    <div><img src="./images/shouyejinrujian.png" alt=""></div>
                </a>
                <a class='item  home-feature-in  justify-center-lr' ui-sref="changebirth">
                    <div class='justify-lr my-span'><span>出生日期</span></div>
                    <div class='justify-lr my-span'><span>{{infodata.birthday}}</span></div>
                    <div><img src="./images/shouyejinrujian.png" alt=""></div>
                </a>
            </div>
            <div class="list card mine-info-my">
                <a class='item  home-feature-in  justify-center-lr' ui-sref="changeyy">
                    <div class='justify-lr my-span'><span>所在医院</span></div>
                    <div class='justify-lr my-span'><span>北京协和医院</span></div>
                    <div><img src="./images/shouyejinrujian.png" alt=""></div>
                </a>
                <a class='item  home-feature-in  justify-center-lr' ui-sref="changezc">
                    <div class='justify-lr my-span'><span>职称</span></div>
                    <div class='justify-lr my-span'><span>主治医师</span></div>
                    <div><img src="./images/shouyejinrujian.png" alt=""></div>
                </a>
                <a class='item  home-feature-in  justify-center-lr' ui-sref="changeks">
                    <div class='justify-lr my-span'><span>科室</span></div>
                    <div class='justify-lr my-span'><span>心内科</span></div>
                    <div><img src="./images/shouyejinrujian.png" alt=""></div>
                </a>
            </div>

        </div>
    </ion-content>
</ion-view>
