<ion-view view-title="消息记录" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">消息记录</h1>
    </ion-header-bar>
    <ion-content has-bouncing="true" class="backcolormine">
        <div class="list mine-info-my top-50">
            <div class="item  row padding" ui-sref="gonggao">
                <div col col-20>
                    <img class="yisheng" src="./images/yisheng.png">
                </div>
                <div class="col ">
                    <div class="">
                        <h2>我的公告</h2>
                        <p>{{gonggao[0].content}}</p>
                    </div>
                    <div class="col-5 fl-div-right"><img src="./images/shouyejinrujian.png" alt=""></div>
                </div>
            </div>
            <div class="button-full">
                <div class="item item-divider">
                    咨询的患者
                </div>
            </div>

            <div class="item row" ui-sref="chart">
                <div class="record-point-parent col col-20">
                    <i class="ion-record record-point"></i>
                    <img class="yisheng" src="./images/yisheng.png">
                </div>
                <div class="row-align col col-60">
                    <div>
                        <h2>张美丽</h2>
                        <p>张医生你好我是张美丽...</p>
                    </div>
                </div>
                <div class="col col-20"><span>3</span>分钟前</div>
            </div>

        </div>
    </ion-content>
</ion-view>