<ion-view view-title="消息记录-乐柏医" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <a class="button icon ion-chevron-left" href="javascript:history.go(-1)"></a>
        <h1 class="title">消息记录</h1>
    </ion-header-bar>
    <ion-content has-bouncing="true" class="backcolormine">
        <div class="list mine-info-my top-50">
            <div class="item  row padding" ui-sref="gonggao">
                <div col col-20 ng-if="gonggao[0]">
                    <img class="tou-img" ng-src="{{gonggao[0].imageUrl}}">
                    <img class="tou-img" ng-if="!gonggao[0].imageUrl" ng-src="./images/yisheng.png">
                </div>
                <div col col-20 ng-if="!gonggao[0]">
                    <!--<img class="tou-img" ng-src="{{gonggao[0].imageUrl}}">-->
                    <img class="tou-img" ng-src="./images/yisheng.png">
                </div>
                <div class="col">
                    <div class="">
                        <h2>我的公告</h2>
                        <p>{{gonggao[0].content}}</p>
                    </div>
                    <div class="col-5 fl-div-right"><img src="./images/shouyejinrujian.png" alt=""></div>
                </div>
            </div>
            <div class="button-full">
                <div class="item item-divider">
                    咨询的患者
                </div>
            </div>

            <a class="item row" ng-repeat="item in mynews" href="#/chart/{{item.fromUserId}}">
                <div class="record-point-parent col col-20">
                    <i ng-if="item.isRead==0" class="ion-record record-point"></i>
                    <img ng-if="item.profileImageUrl!=null" class="yisheng" ng-src="{{item.profileImageUrl}}" onerror="this.src='./images/1.pic.jpg'">
                    <img ng-if="item.profileImageUrl==null" class="yisheng" ng-src="./images/1.pic.jpg" >
                </div>
                <div class="row-align col col-50">
                    <div>
                        <h2>{{item.name}}</h2>
                        <p>{{item.fromChat}}</p>
                    </div>
                </div>
                <div class="col col-30 ion-recordl">{{item.timePointStr}}</div>
            </a>

        </div>
    </ion-content>
</ion-view>
