<ion-view view-title="我的收藏" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">我的收藏</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list analysis">
            <a class="item item-avatar"  ng-repeat="item in data" href="#/analysis_detail/{{item.id}}">

                <img src="./images/wode.png">

                <div class='analysis-list-title '>
                    <div>
                        <p class='list-head'>金牌医生</p>

                        <p>{{item.caseAnalysisList[0].hospital}}  {{item.caseAnalysisList[0].doctorName}} </p>
                    </div>
                </div>
                <div>
                    <img ng-src="{{item.caseAnalysisList[0].illCaseImage}}"/>
                </div>

                <div>
                    <span>收藏时间:{{item.collectTime}}</span>
                </div>
            </a>

        </div>
    </ion-content>
</ion-view>