<ion-view view-title="已绑定患者详情" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">已绑定患者详情</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="item item-avatar">
                <img src="./images/wode.png">

                <div class='analysis-list-title '>
                    <div>
                        <p>张美丽</p>

                        <p>联系电话：<span>15011532498</span></p>

                        <p><span>60</span>岁 <span>|</span> <span>女</span></p>
                    </div>
                </div>
            </div>
            <div class='item item-body'>
                <p class='accent-text-color'>病史:</p>

                <p> 通常只有中老年人才会得心脏病
                    通常只有中老年人才会得心脏病
                    通常只有中老年人才会得心脏病
                    通常只有中老年人才会得心脏病
                    通常只有中老年人才会得心脏病
                    通常只有中老年人才会得心脏病
                    通常只有中老年人才会得心脏病
                </p>
            </div>
            <div class='item item-body'>
                <p class='accent-text-color'>备注:</p>

                <p> 通常只有中老年人才会得心脏病
                    通常只有中老年人才会得心脏病
                    通常只有中老年人才会得心脏病
                    通常只有中老年人才会得心脏病
                    通常只有中老年人才会得心脏病
                    通常只有中老年人才会得心脏病
                    通常只有中老年人才会得心脏病
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>