<ion-view view-title="患者数据" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">患者数据</h1>
    </ion-header-bar>
    <ion-content class="patientdata backcolormine">
        <div class="list top-50">
            <h5 style="text-align: center">努力开发中，敬请期待!!</h5>
            <!--<div class="bar bar-header item-input-inset">-->
                <!--<label class="item-input-wrapper">-->
                    <!--<i class="icon ion-ios-search placeholder-icon"></i>-->
                    <!--<input type="search" placeholder="输入患者名字搜索">-->
                <!--</label>-->
            <!--</div>-->
            <!--<div class="item">-->
                <!--<div class="justify-center-lr">-->

                    <!--<p>张美丽</p>-->

                    <!--<p>15011532498</p>-->
                    <!--<button class="button button-small fr">-->
                        <!--<span class="accent-text-color">置顶</span>-->
                    <!--</button>-->

                <!--</div>-->
                <!--<div class="patientdata-row item-text-wrap">-->

                    <!--<div class="row">-->
                        <!--<div class="col col-25">时间\项目</div>-->
                        <!--<div class="col">体重</div>-->
                        <!--<div class="col">BMI</div>-->
                        <!--<div class="col">心率</div>-->
                        <!--<div class="col">高压</div>-->
                        <!--<div class="col">低压</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col col-25">2015-6-8 08:08</div>-->
                        <!--<div class="col">100</div>-->
                        <!--<div class="col">39</div>-->
                        <!--<div class="col">200</div>-->
                        <!--<div class="col">20</div>-->
                        <!--<div class="col"></div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col col-25">2015-6-8 08:08</div>-->
                        <!--<div class="col">20</div>-->
                        <!--<div class="col">30</div>-->
                        <!--<div class="col">100</div>-->
                        <!--<div class="col">20</div>-->
                        <!--<div class="col">100</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col col-25">2015-6-8 08:08</div>-->
                        <!--<div class="col"></div>-->
                        <!--<div class="col"></div>-->
                        <!--<div class="col">100</div>-->
                        <!--<div class="col">20</div>-->
                        <!--<div class="col">20</div>-->
                    <!--</div>-->

                <!--</div>-->
            <!--</div>-->
        </div>
    </ion-content>
</ion-view>