<ion-view view-title="患者列表" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">患者列表</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list mine-info-my top-50">
            <div class="justify-center-lr item">
                <div class='justify-lr my-span'><img src="./images/huanzheshu.png" class='my-pictures' alt="">共有患者<span
                        class="accent-number-color">2</span>人
                </div>
                <div class='justify-center-lr patient-button'>
                    <button class="button button-small button-balanced" ui-sref="patient_add">
                        添加
                    </button>
                </div>
            </div>
            <div class='item justify-center-lr' ui-sref='patient_check'>
                <div class='justify-lr my-span'><img class="my-pictures" src="./images/xiaoxi.png" alt="">有<span
                        class="accent-number-color">1</span>心患者需要验证
                </div>
                <div><img src="./images/shouyejinrujian.png" alt=""></div>
            </div>
            <div class="item item-divider button-full justify-center-lr">
                <p>绑定患者日活 <span class="accent-number-color">1</span>人</p>

                <p>今日新增: <span class="accent-number-color">50</span>积分</p>
            </div>

            <div class="item item-avatar" ui-sref='patient_detail' ng-repeat="item in data">
                <img src="./images/wode.png">

                <div class='new_patient justify-center-lr'>
                    <div class="justify-center-lr">
                        <p>{{item.patientName}}</p>
                        <button class="button button-small button-assertive disabled" ng-if="item.checked == 1">
                            已绑定
                        </button>
                    </div>
                    <div class='justify-center-lr patient-button'>
                        <p>50</p>
                        <p> | </p>
                        <p>女</p>
                    </div>
                </div>
            </div>
        </div>


    </ion-content>
</ion-view>