<ion-view view-title="患者列表-乐柏医" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">患者列表</h1>
    </ion-header-bar>
    <ion-content class="backcolormine">
        <div class="list mine-info-my top-50">
            <div class="justify-center-lr item">
                <div class='justify-lr my-span'><img src="./images/huanzheshu.png" class='my-pictures' alt="">共有患者<span
                        class="accent-number-color">{{data.length}}</span>人
                </div>
                <div class='justify-center-lr patient-button'>
                    <button class="button button-small button-balanced fl-div-right" ui-sref="patient_add">
                        添加
                    </button>
                </div>
            </div>
            <div class='item justify-center-lr' ui-sref='patient_check'>
                <div class='justify-lr my-span'><img class="my-pictures" src="./images/xiaoxi.png" alt="">有<span
                        class="accent-number-color">{{nochecknum}}</span>心患者需要验证
                </div>
                <div class="fl-div-right"><img src="./images/shouyejinrujian.png" alt=""></div>
            </div>
            <div class="item item-divider button-full row">
                <p class="col col-50">绑定患者日活 <span class="accent-number-color">{{count.dayLiveTotal}}</span>人</p>

                <p class=" col col-50">今日新增:
                    <span ng-if="inScore" class="accent-number-color">{{inScore}}</span>
                    <span ng-if="!inScore" class="accent-number-color">0</span>
                    积分</p>
            </div>

            <a class="item item-avatar" ng-repeat="item in data" href="#/patient_detail/{{item.patientId}}"  >
                <img class="yisheng" src="./images/yisheng.png">

                <div class='new_patient row' >
                    <div class="col">
                        <span>{{item.patientName}}</span>
                        <span class="button button-small button-assertive disabled" style="margin-left: 10px">
                            已绑定
                        </span>
                    </div>
                    <div class='patient-button col col-20' ng-if="item.age">
                        <span>{{item.age}} 岁</span>
                        <span> | </span>
                        <span ng-if="item.agender == 2">女</span>
                        <span ng-if="item.agender == 1">男</span>
                    </div>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>
