<ion-view view-title="患者列表" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">患者列表</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list mine-info-my top-50">
            <div class="justify-center-lr item">
                <div class='justify-lr my-span'><img src="./images/huanzheshu.png" class='my-pictures' alt="">共有患者<span
                        class="accent-number-color">{{data.length}}</span>人
                </div>
                <div class='justify-center-lr patient-button'>
                    <button class="button button-small button-balanced fl-div-right" ui-sref="patient_add">
                        添加
                    </button>
                </div>
            </div>
            <div class='item justify-center-lr' ui-sref='patient_check'>
                <div class='justify-lr my-span'><img class="my-pictures" src="./images/xiaoxi.png" alt="">有<span
                        class="accent-number-color">{{nochecknum}}</span>心患者需要验证
                </div>
                <div class="fl-div-right"><img src="./images/shouyejinrujian.png" alt=""></div>
            </div>
            <div class="item item-divider button-full justify-center-lr">
                <p>绑定患者日活 <span class="accent-number-color">{{count.dayLiveTotal}}</span>人</p>

                <p class="fl-div-right">今日新增: <span class="accent-number-color">50</span>积分</p>
            </div>

            <a class="item item-avatar" ng-repeat="item in data" href="#/patient_detail/{{item.patientId}}"  >
                <img src="./images/wode.png">

                <div class='new_patient row' >
                    <div class="col-33">
                        <p>{{item.patientName}}</p>
                        <button class="button button-small button-assertive fl-div-right disabled">
                            已绑定
                        </button>

                    </div>
                    <!--<div class=' patient-button' ng-if="item.age">-->
                        <!--<p>{{item.age}} 岁</p>-->
                        <!--<p> | </p>-->
                        <!--<p ng-if="item.agender == 2">女</p>-->
                        <!--<p ng-if="item.agender == 1">男</p>-->
                    <!--</div>-->
                </div>
            </a>


        </div>

    </ion-content>
</ion-view>