<ion-view view-title="患者验证" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">患者验证</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="item item-avatar" ng-repeat="item in data">
                <img src="./images/wode.png">

                <div class='new_patient row'>
                    <div class="col col-50">
                        <p>{{item.patientName}}</p>
                        <p>向您发送了验证请求</p>
                    </div>
                    <div class='col col-50 patient-button'>
                        <button class="button button-small button-assertive" ng-click="noaccept()" ng-if="item.checked == 0">
                            不允许
                        </button>
                        <button class="button button-small button-balanced" ng-click="accept()" ng-if="item.checked == 0">
                            允许
                        </button>
                        <button class="button button-small button-balanced" ng-if="item.checked == 1">
                            已通过
                        </button>
                        <button class="button button-small button-balanced" ng-if="item.checked == 2">
                            已拒绝
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>