<ion-view view-title="轻松一刻详情-乐柏医" cache-view="false">
    <ion-header-bar class="bar-balanced">
      <a class="button icon ion-chevron-left" href="/#/relaxed"></a>
        <h1 class="title">轻松一刻详情</h1>
        <div class="buttons">
            <!--<div class="ion-plus icon-size" ng-click="addCollection()"></div>-->
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="item news-from">
                <span class="item-text-wrap">{{relaxed.title}}</span> <span class="fr">{{relaxed.postTime}}</span>
            </div>
            <div class="item item-text-wrap home">
                <!--<img ng-src="{{relaxed.coverImageUrl}}" alt=""/>-->
                <div class="padding" ng-bind-html="relaxed.content | trustHtml">
                    {{relaxed.content }}
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
