<ion-view view-title="轻松一刻详情" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">轻松一刻详情</h1>

        <div class="buttons">
            <div class="ion-android-share-alt icon-size"></div>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="item item-text-wrap row">
                <span class="col col-50">{{relaxed.title}}</span> <span class="col col-50">{{relaxed.postTime}}</span>
            </div>
            <div class="item item-text-wrap padding" ng-bind-html="relaxed.content">
                {{relaxed.content}}
            </div>

        </div>
    </ion-content>
</ion-view>