<ion-view view-title="轻松一刻" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">轻松一刻</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <a class="item item-text-wrap" ui-sref='dt_relaxed'>
                <h2>轻松一刻钟</h2>

                <div class='text-indent'>
                    <p>内容简述内容简述内容简述内容简述内容简述...</p>

                    <div><img src="./images/zhichi.png" alt=""></div>
                </div>
                <div class='news-from justify-center-lr'>
                    <span>2015-12-27 08:08</span>
                    <span>来源: <i>sina</i></span>
                </div>
            </a>
            <a class="item  item-text-wrap" href="#">
                <h2>轻松2刻钟</h2>

                <div class='text-indent'>
                    <p>内容简述内容简述内容简述内容简述内容简述...</p>

                    <div><img src="./images/zhichi.png" alt=""></div>
                </div>
                <div class='news-from justify-center-lr'>
                    <span>2015-12-27 08:08</span>
                    <span>来源: <i>sina</i></span>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>