<ion-view view-title="轻松一刻详情" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">轻松一刻详情</h1>

        <div class="buttons">
            <div  class="ion-android-share-alt icon-size"></div>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="item item-text-wrap  justify-center-lr">
                <span>医生我们该如何拯救你们？</span> <span>2016-3-4  20:32</span>
            </div>
            <div class='item-image'>
                <img src="./images/zhichi.png" alt="">
            </div>
            <div class='item-image'>
                <img src="./images/zhichi.png" alt="">
            </div>
            <div class='item-image'>
                <img src="./images/zhichi.png" alt="">
            </div>
        </div>
    </ion-content>
</ion-view>