<ion-view view-title="重置密码" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">重置密码</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input type="password" placeholder="输入旧密码">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="输入新密码6-20个字符">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="请再次输入密码">
            </label>
            <button class="button button-block button-balanced">
                确定
            </button>
        </div>
    </ion-content>
</ion-view>