<ion-view view-title="设置" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">设置</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list" ng-if="isLogin">
            <a ui-sref="changepwd" class='item  home-feature-in  justify-center-lr'>
                <div class='justify-lr my-span'><span class='commenter'>修改密码</span></div>
                <div><img src="./images/shouyejinrujian.png" alt=""></div>
            </a>
            <button class="button button-full button-balanced" ng-click="destroyU()">
                退出登陆
            </button>
        </div>
    </ion-content>
</ion-view>