<ion-view view-title="设置-乐柏医" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <a class="button icon ion-chevron-left" href="javascript:history.go(-1)"></a>
        <h1 class="title">设置</h1>
    </ion-header-bar>
    <ion-content class="backcolormine">
        <div class="list" >
            <a ng-if="isLogin" ui-sref="changepwd" class='item  home-feature-in  justify-center-lr'>
                <div class='justify-lr my-span'><span class='commenter'>修改密码</span></div>
                <div class="fl-div-right"><img src="./images/shouyejinrujian.png" alt=""></div>
            </a>

                <a ui-sref="about" class='item  home-feature-in'>
                  <div class='justify-lr my-span'>  <span class='commenter'>关于我们</span></div>
                    <div class="fl-div-right"><img src="./images/shouyejinrujian.png" alt=""></div>
                </a>
                <a ui-sref="point_rule" class='item  home-feature-in '>
                    <div class='justify-lr my-span'><span class='commenter'>积分规则</span></div>
                    <div class="fl-div-right"><img src="./images/shouyejinrujian.png" alt=""></div>
                </a>


            <button  ng-if="isLogin" class="button button-full button-balanced" ng-click="destroyU()">
                退出登陆
            </button>
        </div>
    </ion-content>
</ion-view>
