<ion-view view-title="心血管圈详情" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">心血管圈详情</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="item item-avatar">
                <img src="./images/wode.png">

                <div style='padding-top:10px'>
                    <p>张医生</p>
                </div>
                <div class='item-body pad-replate'>
                    <p>
                        天天做手术
                        天天做手术
                        天天做手术
                        天天做手术
                    </p>
                    <img src="./images/zhichi.png">
                </div>
                <p>1分钟前</p>
            </div>
            <div class='item item-body'>
                <div class="bar bar-header item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="text" placeholder="我也说两句吧">
                    </label>
                    <button class="button button-clear">
                        发表
                    </button>
                </div>
            </div>
            <div class="item item-avatar">
                <img src="./images/wode.png">

                <div class='commenter'>
                    <span>张先生</span>
                    <span>2016-2-3 08:08</span>
                </div>
                <div class="item-body pad-replate">
                    人生啊，有啥也别有病，看病很贵的。
                    人生啊，有啥也别有病，看病很贵的。
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>