<ion-view view-title="发表心血管圈动态-乐柏医" cache-view="false">
    <ion-header-bar class="bar-balanced">
      <a class="button icon ion-chevron-left" href="javascript:history.go(-1)"></a>
        <h1 class="title">发表心血管圈动态</h1>

    </ion-header-bar>
    <ion-content has-bouncing="true">
        <div class="list padding">
            <textarea placeholder="这一刻的想法" class="textarea-height home" ng-model="xinxueg.content"></textarea>
            <form id="xinxuegimage" enctype="multipart/form-data" method="post" >
                    <input id="publishphoto"
                           type="file"
                           accept="image/*"
                           multiple
                           image="publishphoto"
                           class="inputfile"
                            />
                <label for="publishphoto"></label>
                <button class="button button-balanced button-full" ng-click="xinxuegRelease(publishphoto)">发表</button>
                <img  ng-repeat="img in publishphoto" title="{{img.url}}" ng-src="{{img.url}}" width="50" height="50"/>
            </form>
        </div>

    </ion-content>
</ion-view>
