<ion-view view-title="心血管圈" cache-view="false">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">心血管圈</h1>

        <div class="buttons">
            <div ng-click="goPublish()" class="ion-compose icon-size"></div>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <a class="item item-avatar item-text-wrap"  ng-repeat="item in xinlist"
               ui-sref='xinxueg_detail({id:item.id})'>
                <img ng-if="item.profileImage" ng-src="{{item.profileImage}}" onerror="this.src='./images/yisheng.png'"/>

                <h2>{{item.doctorName}}</h2>

                <div class='home'>
                    <p>
                        {{item.content}}
                    <p>
                    <p>
                         <span ng-repeat="img in item.imageList"><img ng-src="{{img.imageUrl}}" width="100" alt=""/></span>
                    </p>
                </div>

                <p class="home">
                    <img ng-src="{{item.image}}" />
                </p>
                <div class='news-from row'>
                    <span class="col col-80">{{item.creTime}}</span>
                    <span class="col col-20"><i class="ion-chatbubble-working"
                             style='font-size:20px'></i> {{item.remarkCount}}</span>
                </div>
            </a>

        </div>
    </ion-content>
</ion-view>