<ion-view view-title="学术详情-乐柏医" cache-view="false">
  <ion-header-bar class="bar-balanced">
    <a class="button icon ion-chevron-left" href="javascript:history.go(-1)"></a>
    <h1 class="title">学术详情</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list card">

      <div class="item ">
        <div ng-if="data.type==0" class="xueshuJinqiTag">
          近期学术会议
        </div>
        <div ng-if="data.type==1" class="xueshuWangqiTag">
          往期学术会议
        </div>
        <h2 style="margin-top:10px">{{data.title}}</h2>
        <p>{{data.creTime}}</p>
      </div>

      <div class="item item-body">
          <img class="full-image" src={{data.promoteImage}}>
        <p ng-bind-html="data.content | trustHtml">
        {{data.content}}
        </p>

      </div>
      <div ng-if="data.type==0">
        <div class="item">
          参加积分：{{data.score}}

        </div>
        <div class="item">
          当前剩余积分：{{data.userScore}}
          <button style="padding:6px;background-color:#2CCD8F;border-radius:5px;font-size:20px;font-weight:bolder" class="button button-full button-positive" ui-sref='xueshu_baoming({id:data.id})'>
            我要参加
          </button>
          <a style="" ui-sref='xueshu_baoming({id:data.id})'>没有积分或者不足也要参加</a>
        </div>
      </div>



    </div>
  </ion-content>
</ion-view>
