<style media="screen">
  
</style>
<ion-view view-title="学术支持-乐柏医" cache-view="false">
  <ion-header-bar class="bar-balanced">
    <a class="button icon ion-chevron-left" href="javascript:history.go(-1)"></a>
    <h1 class="title">学术支持</h1>
  </ion-header-bar>
  <ion-content class="backcolormine">
    <a class="list card" style="text-decoration:none" ng-repeat="x in data" ui-sref='xueshu_detail({id:x.id})'>
      <div class="item item-body">

        <div class="xueshuJinqiTag" style="" ng-if="x.type==0">
          近期学术会议
        </div>
        <div class="xueshuWangqiTag" ng-if="x.type==1">
          往期学术会议
        </div>
        <h2 style="margin-top:25px">{{x.title}}</h2>


        <img ng-if="x.promoteImage" class="full-image" src={{x.promoteImage}}>
        <p style="color:#6A6B6C">
          {{x.creTime}}
        </p>

      </div>

    </a>
  </ion-content>
</ion-view>
